@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Colores */
    --gris-claro: #E9ECEF;
    --blanco-roto: #F8F9FA;
    --azul-marino: #001F3F;
    --verde-menta: #00BB94;
    --rosa-palo: #FF7675;

    /* Fuente */
    --font-roboto: Roboto, sans-serif;

    /* Shadows */
    --shadow-3xl: 8px 8px 21px -6px rgba(0, 0, 0, 0.8);
}